.image{
    display: flex;
    width: 200px;
    height: 200px;

}

.grande{
    display: flex;


}

.left {
    background: #ffffff;

    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.right {
    align-items: start;

    justify-content: left;

    float:right;
}

.right div {
    width: 350px;
}

 .title {
   color: #6bc736;
   font-size: 44px;
   font-weight: bold;

   line-height: 19px;
   margin-bottom: 2px;
   text-align: center;
 }



 .foot {
     color: #6bc736;
     display: flex;
     text-align: justify-all;
     align-items: flex-end;
     width: 100%;
 }