.image{
    display: flex;
    height: 200px;
    width: 200px;
}

.grande{
    display: flex;
}

.left {
    align-items: center;
    background: #ffffff;
    display: flex;
    height: 200px;
    justify-content: center;
    width: 200px;
}

.right {
    align-items: start;
    float:right;
    justify-content: left;
}



 .title {
   color: #6bc736;
   font-size: 44px;
   font-weight: bold;
   line-height: 19px;
   margin-bottom: 2px;
   text-align: center;
 }

 .foot {
     align-items: center;
     color: #6bc736;
     display: flex;
     text-align: center;
     width: 100%;
 }